.header {
    text-align: center;
    background-color: #e6ffe6;
    border-style: solid;
    border-width: 2px;
    margin: 20px;
    .text {
        margin: 16px 0 16px;
        font-size: 40px;
    }
}